In [52]:
import pandas as pd

In [53]:
data = pd.read_excel('loan_sanction.xlsx')

1. Check how many duplicate rows are present

In [54]:
print("Number of Duplicate Rows:", data.duplicated().sum())

Number of Duplicate Rows: 3

2. If any Duplicates Present, drop those duplicates

In [55]:
data = data.drop_duplicates()
print("Number of Duplicate Rows:", data.duplicated().sum())

Number of Duplicate Rows: 0

3. Check null values in each column

In [56]:
print("Null Values in Each Column:")
print(data.isnull().sum())

Null Values in Each Column:
Loan_ID                0
Gender                 2
Married                0
Dependents            11
Education              0
Self_Employed          0
Applicant_Income       0
Coapplicant_Income     0
LoanAmount             0
Loan_Amount_Term       0
Credit_History         0
Property_Area          0
dtype: int64

4. Delete the Rows which are having null values.

In [57]:
data = data.dropna()

5. Impute null values with Mode in Gender Column

In [58]:
data['Gender'].fillna(data['Gender'].mode()[0], inplace=True)

6. Impute null values with Mode in Self_Employed Column

In [59]:
data['Self_Employed'].fillna(data['Self_Employed'].mode()[0], inplace=True)

7. Impute null values with mean in LoanAmount Column

8. Top 5 Records

In [60]:
print(data.head())

    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001015   Male     Yes          0      Graduate            No
1  LP001022   Male     Yes          1      Graduate            No
2  LP001031   Male     Yes          2      Graduate            No
3  LP001035   Male                  2      Graduate            No
4  LP001051   Male      No          0  Not Graduate            No

  Applicant_Income  Coapplicant_Income LoanAmount  Loan_Amount_Term  \
0             5720                   0        110               360
1             3076                1500        126               360
2             5000                1800        208               360
3             2340                2546        100               360
4             3276                   0         78               360

  Credit_History Property_Area
0              1         Urban
1              1         Urban
2              1         Urban
3              1         Urban
4              1         Urban

9. Export the dataframe in excel.

In [61]:
excel_data = pd.read_excel('loan_sanction.xlsx')
excel_data.describe()

       Coapplicant_Income  Loan_Amount_Term
count          370.000000        370.000000
mean          1568.308108        342.475676
std           2328.857392         64.961867
min              0.000000          6.000000
25%              0.000000        360.000000
50%           1012.500000        360.000000
75%           2437.250000        360.000000
max          24000.000000        480.000000

10. Number of Rows and Columns in a DataFrame

In [62]:
print(data.shape)

(354, 12)

11. Print all Column names in a DF

In [63]:
print("Column Names:")
print(data.columns)

Column Names:
Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Applicant_Income', 'Coapplicant_Income', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

12. Generate the descriptive statistics of Numerical variables.

In [64]:
print("Descriptive Statistics of Numerical Variables:")
print(data.describe())

Descriptive Statistics of Numerical Variables:
       Coapplicant_Income  Loan_Amount_Term
count          354.000000        354.000000
mean          1600.548023        343.649718
std           2362.752848         63.683276
min              0.000000          6.000000
25%              0.000000        360.000000
50%           1083.000000        360.000000
75%           2470.000000        360.000000
max          24000.000000        480.000000

13. Display numeric data type columns in a DF

In [65]:
print("Numeric Data Type Columns:")
print(data.select_dtypes(include='number'))

Numeric Data Type Columns:
     Coapplicant_Income  Loan_Amount_Term
0                     0               360
1                  1500               360
2                  1800               360
3                  2546               360
4                     0               360
..                  ...               ...
365                1777               360
366                 709               360
367                1993               360
368                2393               360
369                   0               180

[354 rows x 2 columns]

14. Select all data types of columns in a DF except object data type.

In [66]:
print("All Data Types Except Object:")
print(data.select_dtypes(exclude='object'))

All Data Types Except Object:
     Coapplicant_Income  Loan_Amount_Term
0                     0               360
1                  1500               360
2                  1800               360
3                  2546               360
4                     0               360
..                  ...               ...
365                1777               360
366                 709               360
367                1993               360
368                2393               360
369                   0               180

[354 rows x 2 columns]

15. Extract all the Records where Self_Employed is equal to Yes.

In [67]:
self_employed_yes = data[data['Self_Employed'] == 'Yes']
print("Records where Self_Employed is Yes:")
print(self_employed_yes)

Records where Self_Employed is Yes:
      Loan_ID  Gender Married Dependents     Education Self_Employed  \
6    LP001054    Male     Yes          0  Not Graduate           Yes
38   LP001210       ?     Yes          0      Graduate           Yes
39   LP001211    Male      No          0      Graduate           Yes
50   LP001270    Male     Yes         3+  Not Graduate           Yes
63   LP001335    Male     Yes          0      Graduate           Yes
75   LP001380    Male     Yes          0      Graduate           Yes
79   LP001413    Male      No          0      Graduate           Yes
92   LP001475    Male     Yes          0      Graduate           Yes
112  LP001584  Female       #          0      Graduate           Yes
134  LP001728    Male     Yes          1      Graduate           Yes
145  LP001791    Male     Yes          0      Graduate           Yes
146  LP001794    Male     Yes          2      Graduate           Yes
149  LP001817    Male      No          0  Not Graduate           Yes
157  LP001857    Male      No          0  Not Graduate           Yes
158  LP001862    Male     Yes          2      Graduate           Yes
197  LP002083    Male      No          0      Graduate           Yes
202  LP002105    Male     Yes          0      Graduate           Yes
214  LP002172    Male     Yes         3+      Graduate           Yes
220  LP002195    Male     Yes          1      Graduate           Yes
226  LP002256  Female      No          2      Graduate           Yes
233  LP002298    Male      No          0      Graduate           Yes
248  LP002358    Male     Yes          2      Graduate           Yes
250  LP002375    Male     Yes          0  Not Graduate           Yes
273  LP002482  Female      No          0      Graduate           Yes
302  LP002644    Male     Yes          1      Graduate           Yes
305  LP002657    Male     Yes          1  Not Graduate           Yes
308  LP002721    Male     Yes          2      Graduate           Yes
331  LP002806    Male     Yes         3+      Graduate           Yes
341  LP002857    Male     Yes          1      Graduate           Yes
343  LP002860    Male     Yes          0      Graduate           Yes
344  LP002867    Male      No          0      Graduate           Yes
352  LP002891    Male     Yes          0      Graduate           Yes
365  LP002971    Male     Yes         3+  Not Graduate           Yes
369  LP002989    Male      No          0      Graduate           Yes

    Applicant_Income  Coapplicant_Income LoanAmount  Loan_Amount_Term  \
6               2165                3422        152               360
38              2267                2792         90               360
39              5833                   0        116               360
50              8000                 250        187               360
63              7016                 292        125               360
75              3900                2094        232               360
79              6356                   0         50               360
92              3188                2286        130               360
112             4742                   0        108               360
134             3343                1517        105               360
145            32000                   0        550               360
146            10890                   0        260                12
149             8703                   0        199               360
157             1599                2474        125               300
158             4246                4246        214               360
197             5833                   0        116               360
202             8706                   0        108               480
214             5384                   0        150               360
220             3507                3148        212               360
226             5184                   0        187               360
233             2860                2988        138               360
248             5000                2166        150               360
250             3943                   0         64               360
273             3333                3916        212               360
302             7500                   0         75               360
305              570                2125         68               360
308             7500                   0        183               360
331             6958                1411        150               360
341             2360                3355         87               240
343             2623                4831        122               180
344             3972                4275        187               360
352             2500                 296        137               300
365             4009                1777        113               360
369             9200                   0         98               180

    Credit_History Property_Area
6                1         Urban
38               1         Urban
39               1         Urban
50               1     Semiurban
63               1         Urban
75               1         Rural
79               1         Rural
92               1         Rural
112              1     Semiurban
134              1         Rural
145              1     Semiurban
146              1         Rural
149              1         Rural
157              1     Semiurban
158              1         Urban
197              1         Urban
202              1         Rural
214              1     Semiurban
220              1         Rural
226              1     Semiurban
233              1         Urban
248              1         Urban
250              1     Semiurban
273              1         Rural
302              1         Urban
305              1         Rural
308              1         Rural
331              1         Rural
341              1         Rural
343              1     Semiurban
344              1         Rural
352              1         Rural
365              1         Urban
369              1         Rural

16. Extract all the Records where Property_area is equal to urban in a DF.

In [68]:
urban_records = data[data['Property_Area'] == 'Urban']
print("Records where Property_Area is Urban:")
print(urban_records)

Records where Property_Area is Urban:
      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001015    Male     Yes          0      Graduate            No
1    LP001022    Male     Yes          1      Graduate            No
2    LP001031    Male     Yes          2      Graduate            No
3    LP001035    Male                  2      Graduate            No
4    LP001051    Male      No          0  Not Graduate            No
..        ...     ...     ...        ...           ...           ...
359  LP002935    Male     Yes          1      Graduate            No
360  LP002952    Male      No          0      Graduate            No
363  LP002965  Female     Yes          0      Graduate            No
365  LP002971    Male     Yes         3+  Not Graduate           Yes
366  LP002975    Male     Yes          0      Graduate            No

    Applicant_Income  Coapplicant_Income LoanAmount  Loan_Amount_Term  \
0               5720                   0        110               360
1               3076                1500        126               360
2               5000                1800        208               360
3               2340                2546        100               360
4               3276                   0         78               360
..               ...                 ...        ...               ...
359             3791                1936         85               360
360             2500                   0         60               360
363             8550                4255         96               360
365             4009                1777        113               360
366             4158                 709        115               360

    Credit_History Property_Area
0                1         Urban
1                1         Urban
2                1         Urban
3                1         Urban
4                1         Urban
..             ...           ...
359              1         Urban
360              1         Urban
363              1         Urban
365              1         Urban
366              1         Urban

[135 rows x 12 columns]

17. Print number of unique vaues in Gender column

In [69]:
print("Number of Unique Values in Gender Column:", data['Gender'].nunique())

Number of Unique Values in Gender Column: 3

18. Check outliers in Loan amount and credit history column and replace them with mean.

19. Check for correlations of all variables.

In [70]:
correlation_matrix = data.corr(numeric_only=True)
print("Correlation Matrix:")
print(correlation_matrix)

Correlation Matrix:
                    Coapplicant_Income  Loan_Amount_Term
Coapplicant_Income            1.000000         -0.009898
Loan_Amount_Term             -0.009898          1.000000